@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.center {
  text-align: center;
}

.clickable {
  @apply bg-indigo-600;
  @apply hover:bg-indigo-500;
}

.name {
  @apply text-white;
}

.smallButton {
  @apply text-indigo-500;
}

.button {
  @apply clickable;
  @apply flex;
  @apply w-full;
  @apply justify-center;
  @apply rounded-md;
  @apply px-3;
  @apply py-1.5;
  @apply text-sm;
  @apply font-semibold;
  @apply leading-6;
  @apply shadow-sm;
  @apply text-white;
  @apply mx-2;
  @apply whitespace-nowrap;

  @apply focus-visible:outline;
  @apply focus-visible:outline-2;
  @apply focus-visible:outline-offset-2;
  @apply focus-visible:outline-indigo-600;
}

.btnContainer {
  @apply flex;
  @apply my-2;
}

.branding {
  @apply flex;
  @apply justify-center;
  @apply items-center;
  font-family: 'Montserrat', sans-serif;
}

.branding > p {
  @apply text-indigo-500;
  @apply font-bold;
}

.settings {
  @apply flex;
  @apply flex-col;
}

.panelContainer {
  position: fixed;
  z-index: 1000;
  top: 37.5%;
  left: 37.5%;
  width: auto;
  height: auto;
  border-radius: 5px;
  padding: 3%;
  @apply bg-emerald-700;
  @apply border-4 border-indigo-500 border-double;
}

.myTable {
  width: 100%;
  margin-top: 2vh;
  border: 3.5px solid #9ed2be;
  border-radius: 4px;
}
